.super-mario {
  width: 200px;
}

.baloon {
  transform: scaleX(-1);
  position: absolute;
  z-index: 2;
  left: 200px;
}

.goomba {
  width: 100px;
  float: inline-end;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 1;
  top: 430px;
  left: 200px;
  align-items: center;
  display: flex;
}

.bowser {
  width: 200px;
}