.super-mario {
  width: 200px;
  }

.goomba {
  width: 100px;
}

.baloon {
  transform: scaleX(-1);
  top: 50%  
}

.speach {
  font-size: 25px;
  top: 50%; 
  position:absolute;
  z-index: 1;
  top: 20%;
  left: 36px;
}

.bowser {
  width: 200px;
}

.fig1 {
  position: relative;
  left: 200px;
  }